### **<span style="color:#1a73e8;">Importar librerías necesarias</span>**

In [1]:
!python -m pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\nataly rodriguez\appdata\local\programs\python\python312\lib\site-packages (2.1.4)
Requirement already satisfied: openpyxl in c:\users\nataly rodriguez\appdata\local\programs\python\python312\lib\site-packages (3.1.5)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\nataly rodriguez\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\nataly rodriguez\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\nataly rodriguez\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\nataly rodriguez\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: et-xmlfile in c:\users\nataly rodriguez\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in c:\users\nataly rodriguez\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
# Importar las librerías necesarias
import pandas as pd
import numpy as np

### **<span style="color:#1a73e8;">Leer archivos</span>**

In [3]:
# Leer archivo xlsx
df = pd.read_excel('Set_datos_T1_completo.xlsx')
df

,formacion_academica,estrato_socioeconomico,sexo,edad,desempeno_neurocognitivo,duracion_sueno,consumo_cafe,fc_antes,fc_despues,fr_antes,fr_despues,pas_antes,pad_antes,pas_despues,pad_despues
0,2.5,1.2,Mujer,36,2.8,1,2,87.483571,79.684860,14.649643,14.557451,109.429593,78.925925,104.495644,75.160523
1,4.5,3.0,Mujer,28,2.1,4,3,84.308678,77.459411,15.710963,14.571348,111.845346,66.111595,107.852646,62.038182
2,3.9,3.1,Mujer,54,2.8,4,2,88.238443,83.119182,14.415160,12.828766,110.289699,78.573728,105.634449,75.075038
3,3.1,3.0,Hombre,42,4.0,4,4,92.615149,88.909023,15.384077,11.496389,112.260021,73.831380,105.830557,72.773877
4,4.2,3.0,Hombre,29,3.6,2,4,83.829233,77.432786,12.212771,9.656218,113.929248,78.537289,106.373535,75.692711
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2.0,4.2,Hombre,59,3.0,4,4,83.594499,76.454198,16.154961,14.126503,113.510666,86.049278,108.307406,81.748176
996,2.4,1.5,Hombre,21,1.6,3,2,93.988433,89.041475,16.515505,16.593317,118.845158,76.634973,111.510723,75.633318
997,4.4,5.0,Hombre,23,4.0,3,4,88.204214,84.967964,13.516479,11.836777,112.363055,70.824377,104.186160,68.529694
998,3.8,3.5,Mujer,32,1.8,4,1,82.144105,77.470239,16.668353,13.024975,114.974467,83.264565,111.344441,79.768800
999,4.2,5.0,Mujer,43,2.0,3,3,87.862914,84.352719,15.689482,13.328834,116.993819,85.388888,110.391455,81.744499

In [4]:
# Leer archivo CSV
df_csv = pd.read_csv('Set_datos_T1_completo.csv')
df_csv

,formacion_academica,estrato_socioeconomico,sexo,edad,desempeno_neurocognitivo,duracion_sueno,consumo_cafe,fc_antes,fc_despues,fr_antes,fr_despues,pas_antes,pad_antes,pas_despues,pad_despues
0,2.5,1.2,Mujer,36,2.8,1,2,87.483571,79.684860,14.649643,14.557451,109.429593,78.925925,104.495644,75.160523
1,4.5,3.0,Mujer,28,2.1,4,3,84.308678,77.459411,15.710963,14.571348,111.845346,66.111595,107.852646,62.038182
2,3.9,3.1,Mujer,54,2.8,4,2,88.238443,83.119182,14.415160,12.828766,110.289699,78.573728,105.634449,75.075038
3,3.1,3.0,Hombre,42,4.0,4,4,92.615149,88.909023,15.384077,11.496389,112.260021,73.831380,105.830557,72.773877
4,4.2,3.0,Hombre,29,3.6,2,4,83.829233,77.432786,12.212771,9.656218,113.929248,78.537289,106.373535,75.692711
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2.0,4.2,Hombre,59,3.0,4,4,83.594499,76.454198,16.154961,14.126503,113.510666,86.049278,108.307406,81.748176
996,2.4,1.5,Hombre,21,1.6,3,2,93.988433,89.041475,16.515505,16.593317,118.845158,76.634973,111.510723,75.633318
997,4.4,5.0,Hombre,23,4.0,3,4,88.204214,84.967964,13.516479,11.836777,112.363055,70.824377,104.186160,68.529694
998,3.8,3.5,Mujer,32,1.8,4,1,82.144105,77.470239,16.668353,13.024975,114.974467,83.264565,111.344441,79.768800
999,4.2,5.0,Mujer,43,2.0,3,3,87.862914,84.352719,15.689482,13.328834,116.993819,85.388888,110.391455,81.744499

### **<span style="color:#1a73e8;">Variables Cualitativas</span>**

✅ **¿Cómo se construye?**

1. **Listar las categorías**  
   Identifica todas las categorías únicas de la variable.  
   *Ejemplo:* Si la variable es "color de ojos", las categorías pueden ser: azul, verde, café.

2. **Contar la frecuencia de cada categoría (Frecuencia Absoluta, 𝑓)**  
   Es el número de veces que aparece cada categoría en el conjunto de datos.

3. **Calcular la Frecuencia Relativa (fr)**  
   Es el cociente entre la frecuencia absoluta de una categoría y el total de observaciones.  
   **Fórmula:**  
   $$ 
   fr = \frac{f}{n}
   $$  
   donde \( f \) es la frecuencia absoluta y \( n \) el total de observaciones.


4. **Calcular la Frecuencia Porcentual (fp)**  
   Es la frecuencia relativa multiplicada por 100.  
   **Fórmula:**  
   $$
   fp = fr \times 100
   $$

In [5]:
# Distribución de frecuencias variables cualitativas
def frecuencias_cualitativas(data, variable):
    """
    Calcula la tabla de distribución de frecuencias para una variable cualitativa.

    Parámetros:
    - data: DataFrame de pandas que contiene los datos.
    - variable: Nombre de la columna (str) que representa la variable cualitativa.

    Retorna:
    - DataFrame con las columnas 'Clase', 'Frecuencia' y 'Porcentaje'.
    """

    # 1. Contar la cantidad de veces que aparece cada categoría en la variable
    frecuencias = data[variable].value_counts()
    print(frecuencias)

    # 2. Calcular el porcentaje de cada categoría dividiendo por el total y multiplicando por 100
    # normalize=False (por defecto): Devuelve las frecuencias absolutas (conteo total).
    # normalize=True: Devuelve la frecuencia relativa como proporción (entre 0 y 1).
    porcentajes = data[variable].value_counts(normalize=True) * 100

    # 3. Obtener los nombres de las clases (categorías de la variable)
    clases = frecuencias.index.astype(str)  # Convertir a string para asegurar consistencia en los nombres

    # 4. Crear un DataFrame con la información organizada
    tabla = pd.DataFrame({
        'Clase': clases,          # Nombre de la categoría
        'Frecuencia': frecuencias, # Número de veces que aparece la categoría
        'Porcentaje': porcentajes  # Representación en porcentaje
    }).reset_index(drop=True)  # Resetear el índice para una mejor presentación

    # 5. Retornar la tabla con las frecuencias y porcentajes
    return tabla

In [6]:
frecuencias_cualitativas(df, 'sexo')

sexo
Mujer     515
Hombre    485
Name: count, dtype: int64

    Clase  Frecuencia  Porcentaje
0   Mujer         515        51.5
1  Hombre         485        48.5

In [7]:
frecuencias_cualitativas(df, 'consumo_cafe')

consumo_cafe
2    599
3    198
4    109
1     94
Name: count, dtype: int64

  Clase  Frecuencia  Porcentaje
0     2         599        59.9
1     3         198        19.8
2     4         109        10.9
3     1          94         9.4

### **<span style="color:#1a73e8;">Variables Cuantitativas</span>**

Las variables cuantitativas pueden dividirse en dos tipos:
- **Discretas**: Toman valores enteros (ej., número de hijos, cantidad de autos).
- **Continuas**: Toman cualquier valor en un rango (ej., peso, altura, temperatura).

✅ **¿Cómo se construye?**

1. **Ordenar los datos de menor a mayor**:  
   Esto facilita el análisis y la agrupación.

2. **Determinar el rango o recorrido (R)**:  
   Es la diferencia entre el valor máximo y mínimo.  
   **Fórmula:**  
   $$ R = X_{\mathrm{max}} - X_{\mathrm{min}} $$

   donde `X_max` es el valor máximo y `X_min` es el valor mínimo.

3. **Decidir el número de clases (k)**:  
   Puedes utilizar la regla de Sturges.  
   **Fórmula:**  
   $$ k = 1 + 3.322 \times \log_{10}(n) $$
   donde \( n \) es el número total de datos.

4. **Calcular el tamaño del intervalo (A)**:  
   Divide el rango entre el número de clases.  
   **Fórmula:**  
   $$ A = \frac{R}{k} $$
   Redondea este valor para simplificar los límites.

5. **Definir los límites de clase**:  
   Establece los intervalos con base en el tamaño calculado.

6. **Contar la frecuencia de cada intervalo (Frecuencia Absoluta, 𝑓)**:  
   Cuenta cuántos datos caen dentro de cada intervalo.

7. **Calcular la Frecuencia Relativa, Porcentual y Acumulada**:

   - **Frecuencia Relativa (fr):**  
     $$ fr = \frac{f}{n} $$
     donde \( f \) es la frecuencia absoluta y \( n \) es el total de datos.

   - **Frecuencia Porcentual (fp):**  
     $$ fp = fr \times 100 $$

   - **Frecuencia Acumulada (FA):**  
     Es la suma de las frecuencias absolutas hasta el intervalo actual.

In [ ]:
# Distribución de frecuencias variables cuantitativas
def frecuencias_cuantitativas(data, variable):
    """
    Calcula la tabla de distribución de frecuencias para una variable cuantitativa.

    Parámetros:
    - data: DataFrame de pandas que contiene los datos.
    - variable: Nombre de la columna (str) que representa la variable cuantitativa.

    Retorna:
    - DataFrame con las columnas 'Clase', 'Marca de clase', 'Frecuencia Absoluta', 
    'Frecuencia absoluta Acumulada', 'Frecuencia relativa', 'Frecuencia relativa Acumulada', 
    'Frecuencia Porcentual'.
    """

    # Determinar el rango o recorrido (R)
    rango = data[variable].max() - data[variable].min()
    print(f"Rango o recorrido (R): {rango}")

    # Número de clases (k)
    # Número de clases (k) usando la regla de Sturges
    n = len(data[variable])
    k = np.ceil(1 + 3.32 * np.log10(n))
    print(f"Número de clases (k): {k}")

    # Amplitud del intervalo (A)
    A = np.ceil(rango / k)
    print(f"Amplitud del intervalo (A): {A}")

    # Construcción de los intervalos de clase
    # Usa la función np.arange para generar valores desde el mínimo de los datos hasta el máximo, 
    # con un paso igual a la amplitud del intervalo (A).
    intervalos = np.arange(data[variable].min(), data[variable].max() + A, A)
    print(f"Intervalos: {intervalos}")
    intervalos_cerrados = [(intervalos[i], intervalos[i+1] - 1) for i in range(len(intervalos) - 1)]
    print(f"Intervalos Cerrados: {intervalos_cerrados}")

    # Calcular la frecuencia absoluta
    frecuencias, bins = np.histogram(data[variable], bins=intervalos)

    # Calcular la marca de clase (punto medio de cada intervalo)
    marcas_clase = [(intervalo[0] + intervalo[1]) / 2 for intervalo in intervalos_cerrados]

    # Frecuencia absoluta acumulada
    fa_acumulada = np.cumsum(frecuencias)

    # Frecuencia relativa
    fr = frecuencias / n

    # Frecuencia relativa acumulada
    fr_acumulada = np.cumsum(fr)

    # Frecuencia porcentual
    fp = fr * 100

    # Crear DataFrame con la tabla de frecuencias
    tabla_frecuencias = pd.DataFrame({
        'Clase': [f"[{int(intervalo[0])}, {int(intervalo[1])}]" for intervalo in intervalos_cerrados],
        'Marca de clase': marcas_clase,
        'Frecuencia Absoluta': frecuencias,
        'Frecuencia absoluta Acumulada': fa_acumulada,
        'Frecuencia relativa': fr,
        'Frecuencia relativa Acumulada': fr_acumulada,
        'Frecuencia Porcentual': fp
    })

    return tabla_frecuencias

In [9]:
frecuencias_cuantitativas(df, 'edad')

Rango o recorrido (R): 44
Número de clases (k): 11.0
Amplitud del intervalo (A): 4.0
Intervalos: [18. 22. 26. 30. 34. 38. 42. 46. 50. 54. 58. 62.]
Intervalos Cerrados: [(18.0, 21.0), (22.0, 25.0), (26.0, 29.0), (30.0, 33.0), (34.0, 37.0), (38.0, 41.0), (42.0, 45.0), (46.0, 49.0), (50.0, 53.0), (54.0, 57.0), (58.0, 61.0)]

,Clase,Marca de clase,Frecuencia Absoluta,Frecuencia absoluta Acumulada,Frecuencia relativa,Frecuencia relativa Acumulada,Frecuencia Porcentual
0,"[18, 21]",19.5,34,34,0.034,0.034,3.4
1,"[22, 25]",23.5,36,70,0.036,0.070,3.6
2,"[26, 29]",27.5,66,136,0.066,0.136,6.6
3,"[30, 33]",31.5,101,237,0.101,0.237,10.1
4,"[34, 37]",35.5,143,380,0.143,0.380,14.3
5,"[38, 41]",39.5,142,522,0.142,0.522,14.2
6,"[42, 45]",43.5,152,674,0.152,0.674,15.2
7,"[46, 49]",47.5,125,799,0.125,0.799,12.5
8,"[50, 53]",51.5,100,899,0.100,0.899,10.0
9,"[54, 57]",55.5,56,955,0.056,0.955,5.6
10,"[58, 61]",59.5,45,1000,0.045,1.000,4.5

In [10]:
edades = [23, 38, 28, 46, 22, 20, 18, 34, 36, 35, 45, 48, 16, 22, 27, 25, 29, 31, 30, 25, 44, 21, 18, 43, 21, 26, 37, 29, 13, 37]

# Construir dataFrame
df_edades = pd.DataFrame({'edad': edades})
df_edades

frecuencias_cuantitativas(df_edades, 'edad')

Rango o recorrido (R): 35
Número de clases (k): 6.0
Amplitud del intervalo (A): 6.0
Intervalos: [13. 19. 25. 31. 37. 43. 49.]
Intervalos Cerrados: [(13.0, 18.0), (19.0, 24.0), (25.0, 30.0), (31.0, 36.0), (37.0, 42.0), (43.0, 48.0)]

,Clase,Marca de clase,Frecuencia Absoluta,Frecuencia absoluta Acumulada,Frecuencia relativa,Frecuencia relativa Acumulada,Frecuencia Porcentual
0,"[13, 18]",15.5,4,4,0.133333,0.133333,13.333333
1,"[19, 24]",21.5,6,10,0.200000,0.333333,20.000000
2,"[25, 30]",27.5,8,18,0.266667,0.600000,26.666667
3,"[31, 36]",33.5,4,22,0.133333,0.733333,13.333333
4,"[37, 42]",39.5,3,25,0.100000,0.833333,10.000000
5,"[43, 48]",45.5,5,30,0.166667,1.000000,16.666667